<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sms.mapper.sms.SmsHistoryMapper">

    <!-- 화면 date input 값은 YYYYMMDD 문자열로 전달된다 (TuiPageBuilder 규약).
         비교 컬럼이 DATE/TIMESTAMP면 TO_DATE(#{변수}, 'YYYYMMDD')로 감싸서 비교한다. -->

    <sql id="searchConditions">
        <where>
        </where>
    </sql>

    <select id="count" resultType="int">
        SELECT COUNT(1) FROM (
            SELECT 	A.SENT_AT
            		, A.RECEIVER_NO
            		, A.SEND_TYPE		
            FROM SMS.SMS_HISTORY A
            WHERE 1=1
                <if test="startDt != null and startDt != ''">
                    AND   A.SENT_AT >= #{startDt}
                </if>
        ) A
        <include refid="searchConditions"/>
    </select>

    <select id="selectList" resultType="com.example.sms.vo.sms.SmsHistoryVO">
        SELECT A.*
        FROM (
            SELECT 	A.SENT_AT
            		, A.RECEIVER_NO
            		, A.SEND_TYPE		
            FROM SMS.SMS_HISTORY A
            WHERE 1=1
                <if test="startDt != null and startDt != ''">
                    AND   A.SENT_AT >= #{startDt}
                </if>
        ) A
        <include refid="searchConditions"/>
        ORDER BY a.sent_at
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <insert id="insert">
        INSERT INTO /* TODO: 테이블명 */ (REG_DTTM) VALUES (SYSTIMESTAMP)
    </insert>

    <!-- update 기준: 수정 컬럼만 SET하고, 낙관적 잠금으로 UPDATE_DTTM을 WHERE에 함께 둔다.
         갱신값은 컬럼 타입 확인 후 선택한다: TIMESTAMP -> SYSTIMESTAMP, CHAR(14) -> TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') -->
    <update id="update">
        UPDATE /* TODO: 테이블명 */
           SET /* TODO: 수정 컬럼 = #{필드}, */
               UPD_DTTM = SYSTIMESTAMP
         WHERE ID = #{id}
           AND UPD_DTTM = #{beforeUpdateDttm}
    </update>

    <delete id="delete">
        DELETE FROM /* TODO: 테이블명 */ WHERE ID = #{id}
    </delete>

    <select id="selectListForExcel" resultType="java.util.HashMap">
        SELECT A.*
        FROM (
            SELECT 	A.SENT_AT
            		, A.RECEIVER_NO
            		, A.SEND_TYPE		
            FROM SMS.SMS_HISTORY A
            WHERE 1=1
                <if test="startDt != null and startDt != ''">
                    AND   A.SENT_AT >= #{startDt}
                </if>
        ) A
        <include refid="searchConditions"/>
        ORDER BY a.sent_at
    </select>

</mapper>
